{% extends '::base.html.twig' %}

{% block title %}Thank you{% endblock %}

{% block body %}
	<h4>Thank you {{name}}</h4>
	<p class="alert alert-success">Thank you for your message, we will respond as soon as possible</p>
{% endblock %}