{% extends "::base.html.twig" %}

{% block title %}About{% endblock %}

{% block body %}
	<h1>About</h1>
	<p>Lorem ipsum Incididunt tempor aliquip et in consectetur qui in in velit mollit ullamco et aliqua cupidatat eu reprehenderit consectetur adipisicing id nostrud irure aliquip sunt do aliquip consequat ex magna culpa dolor aliquip quis id culpa laborum deserunt culpa cupidatat deserunt sunt in ea occaecat Ut occaecat ex occaecat ullamco ad nostrud in elit consequat irure in consequat anim ad aute reprehenderit ullamco cupidatat officia proident id tempor labore exercitation sed in sunt tempor amet Excepteur velit deserunt eiusmod amet commodo magna velit irure enim culpa ex aliqua magna cillum eiusmod velit aliquip labore laboris est veniam commodo minim ullamco labore sunt quis culpa commodo laborum est consectetur nostrud magna ea labore veniam qui enim qui nulla esse non pariatur deserunt aliqua cupidatat nostrud tempor ullamco non veniam reprehenderit cupidatat quis pariatur ut dolor ad dolore ex tempor mollit cillum dolor ut do nulla.</p>
{% endblock %}
