{% extends "::base.html.twig" %}

{% block title %}About{% endblock %}

{% block body %}
	<h1>About</h1>
	<figure class="figure pull-left" style="padding:10px;">
	  <img src="http://lorempixel.com/200/200/?87963" class="img-rounded" alt="A generic square placeholder image with rounded corners in a figure.">
	  <figcaption class="figure-caption">A caption for the above image.</figcaption>
	</figure>
	<p>Lorem ipsum Incididunt tempor aliquip et in consectetur qui in in velit mollit ullamco et aliqua cupidatat eu reprehenderit consectetur adipisicing id nostrud irure aliquip sunt do aliquip consequat ex magna culpa dolor aliquip quis id culpa laborum deserunt culpa cupidatat deserunt sunt in ea occaecat Ut occaecat ex occaecat ullamco ad nostrud in elit consequat irure in consequat anim ad aute reprehenderit ullamco cupidatat officia proident id tempor labore exercitation sed in sunt tempor amet Excepteur velit deserunt eiusmod amet commodo magna velit irure enim culpa ex aliqua magna cillum eiusmod velit aliquip labore laboris est veniam commodo minim ullamco labore sunt quis culpa commodo laborum est consectetur nostrud magna ea labore veniam qui enim qui nulla esse non pariatur deserunt aliqua cupidatat nostrud tempor ullamco non veniam reprehenderit cupidatat quis pariatur ut dolor ad dolore ex tempor mollit cillum dolor ut do nulla.</p>
	<!-- <img src="http://lorempixel.com/200/200/?87963" style="padding:10px;" class="img-rounded pull-left" alt="..."> -->
	<p>Lorem ipsum Aliquip ullamco ex id occaecat ut sed occaecat cillum reprehenderit dolore anim Duis cillum Ut enim ex in ut laborum laborum irure occaecat do labore mollit sint ut magna cupidatat non ut ullamco officia nulla amet dolore.</p>
	<figure class="figure pull-right" style="padding:10px;">
	  <img src="http://lorempixel.com/200/200/?130553" class="img-rounded" alt="A generic square placeholder image with rounded corners in a figure.">
	  <figcaption class="figure-caption">A caption for the above image.</figcaption>
	</figure>
	<p>Lorem ipsum Minim sit in anim aliquip incididunt Duis mollit laboris ut officia qui veniam ut incididunt dolor tempor velit aliquip esse anim dolor exercitation amet cillum eu deserunt amet esse occaecat aliqua esse in irure est proident eiusmod consectetur in culpa esse qui aliqua irure est laboris amet eu pariatur veniam aute eu veniam veniam qui quis dolor fugiat culpa eu proident Duis proident quis dolore culpa eu laboris sint minim dolore proident ullamco velit sit dolore cillum dolore occaecat in ad non do et sunt elit magna in proident ad proident proident Duis est id nulla laboris commodo dolor in dolor adipisicing ut ad occaecat exercitation minim culpa do eiusmod sint sunt ut commodo esse esse qui culpa ea nisi deserunt pariatur dolor nulla id ullamco voluptate sunt eu eiusmod fugiat anim nisi dolor occaecat sint eu occaecat aliqua dolore deserunt magna in eu aliqua ex ut dolor voluptate quis voluptate magna aute sit sit ut esse commodo sint tempor id qui anim ex quis laborum exercitation ea id eu dolore fugiat labore in do nulla non sit nulla aliqua dolore voluptate enim Ut quis veniam non ex culpa sint in esse sint nostrud nulla sunt anim esse esse reprehenderit ea elit eiusmod pariatur veniam dolor minim qui culpa eiusmod irure in cillum ea cillum proident velit fugiat ut reprehenderit Excepteur consectetur in mollit Duis occaecat id aliquip occaecat ad sed magna commodo veniam culpa consequat consectetur commodo qui mollit cupidatat ea dolor irure laborum anim Ut id anim cillum qui elit aliquip ullamco in dolor sed dolor reprehenderit cillum laboris laborum irure anim reprehenderit eiusmod.</p>
{% endblock %}
