{% extends "::base.html.twig" %}

{% block title %}AppBundle:Genre:index{% endblock %}

{% block body %}
	<h1>Genres</h1>
	{% for genre in genres %}
		<div class="col-md-3">
			<div class="card card-inverse card-warning text-center genre">
				<a href="/artists?tag={{genre.slug}}">
				  <div class="card-block">
				    <h4 class="card-title">{{genre.name}}</h4>
				    <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
				  </div>
				</a>
			</div>
		</div>
	{% endfor %}
{% endblock %}
