.post .title {
	padding: 0 0px 10px 0px;
	margin: 0;
}

.tags span a,
.tags span a:hover {
	color: #fff;
}

.genre a,
.genre a:hover {
	text-decoration: none;
}

.card-img {
	-webkit-filter: brightness(.3);
	filter: brightness(.3);
}

.artist-bio {
	height: 400px;
	overflow-y: auto;
}