{% extends '::base.html.twig' %}

{% block body %}
	<form action="">
		<div class="form-group">
			<label for="">First Name</label>
			<input type="text" class="form-control" name="first_name" value="{{user.first_name}}">
		</div>
		<div class="form-group">
			<label for="">Last Name</label>
			<input type="text" class="form-control" name="last_name" value="{{user.last_name}}">
		</div>
		<div class="form-group">
			<label for="">Email</label>
			<input type="text" class="form-control" name="email_address" value="{{user.email_address}}">
		</div>
	</form>
{% endblock %}